.flashcard-container {
  padding: 15px;
  border-radius: 3px;
  background-color: #6fabe4fb;
}

.flashcard-button {
  background: transparent;
  padding: 8px;
  border-radius: 3px;
  border-color: rgb(85, 151, 226);
  margin: 5px;
  width: 150px;
}
